@font-face {
  font-family: "Proxima";
  src: url("../../assets/fonts/ProximaNova-Regular.ttf");
}
@font-face {
  font-family: "Proxima-Light";
  src: url("../../assets/fonts/ProximaNova-Light.ttf");
}